*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 40px 0;
}
header .titol {
    text-align: center;
    margin-bottom: 40px;
}
header .contenidor-text {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
header .contenidor-text a{
    color: grey;
    margin: 10px 20px;
    font-size: 20px;
}
header .contenidor-text a.actiu{
    color: black;
}   

/*-----------------------------------*/

body {
    font-family: 'Oswald', sans-serif;
    background-color:lightgray;
    color:black
}

a {
    text-decoration: none;
    color:black;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

/*-----------------------------------*/

.contenidor-text {
    font-family: 'Oswald', sans-serif;
}

.contenidor-principal {
    width: 90%;
    margin: auto;
    max-width: 1250px; 
}

.contenidor-dos {
    position: relative;
    width: 100%;
    display: flex;  
}

/*-----------------------------------*/

.contenidor-treballs {
    position: relative;
    width: 100%;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
}

.contenidor-treballs .images {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px;
    width: 250px;
}
.contenidor-treballs .images img {
    width: 100%;
    border-radius: 10px; 
    cursor: pointer;
    vertical-align: top;
}

/*-----------------------------------*/

.contenidor-dos .text {
    background-color: grey;
    text-align: center;
    position: relative;
    border-radius: 10px;
    padding: 0;
    margin: 10px;
    width: 50%;
    height: 350px;
}
.contenidor-dos .text p{
    margin-left: 15px;
    margin-right: 15px;   
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}
.contenidor-dos .text a {
    margin-top: 15px;
    margin-left: 15px;
    display:block;
    width: 32px;
    height: 32px;
    color: white;
    text-align: center;
    border-radius: 100px;
}
.contenidor-dos .text .insta {background: #c13584;}
.contenidor-dos .text .behance {background: black;}
.contenidor-dos .text .gmail {background: #d91f16;}
.contenidor-dos .text a i{
    line-height: 32px;
}

/*-----------------------------------*/

.contenidor-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenidor-overlay.actiu {
    display: flex;
}
.contenidor-overlay img{
    max-width: 100%;
}
.contenidor-img {
    position: relative;
}
.contenidor-overlay #btn-close-popup {
    background: none;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
}

/*-----------------------------------*/

footer .social-media {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
footer .social-media a{
    display: block;
    width: 60px;
    height: 60px;
    background: black;
    color: white;
    margin: 20px;
    text-align: center;
    border-radius: 100px;
}
footer .social-media .insta {background: #c13584;}
footer .social-media .behance {background: black;}
footer .social-media .gmail {background: #d91f16;}
footer .social-media a i{
    font-size: 20px;
    line-height: 60px;
}

/*-----------------------------------*/

.contenidor-slider {
    position: relative;
    width: 100%;  
}
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.slider {
    position: relative;
    width: 100%;
    height: 650px;
}
ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: grey;
    border-radius: 10px;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}
ul.slider li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
ul.slider li:first-child{
    opacity: 1;
}
ul.slider li:target{
    opacity: 1;
}

.menu{
    text-align: center;
    margin: 20px;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: gray;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 17px;
    border-radius:100%;
    text-align: center;
}

/*-----------------------------------*/

@media only screen and (max-width: 600px) {
    
}
